.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  max-height: 220px;
  height: 100%;
}

.cards__item {
  display: flex;
  padding: 11px 7px;
  align-items: flex-end;
  max-width: 104px;
  height: 140px;
  width: 100%;
  border-radius: 11px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__item.cards__item_bg1 {
  background-image: url("/card-1.png");

  @media (min-resolution: 2dppx) {
    background-image: url("/card-1@2x.png");
  }

  @media (min-resolution: 3dppx) {
    background-image: url("/card-1@3x.png");
  }
}

.cards__item.cards__item_bg2 {
  background-image: url("/card-2.png");

  @media (min-resolution: 2dppx) {
    background-image: url("/card-2@2x.png");
  }

  @media (min-resolution: 3dppx) {
    background-image: url("/card-2@3x.png");
  }
}

.cards__item.cards__item_bg3 {
  background-image: url("/card-3.png");

  @media (min-resolution: 2dppx) {
    background-image: url("/card-3@2x.png");
  }

  @media (min-resolution: 3dppx) {
    background-image: url("/card-3@3x.png");
  }
}

.cards__item span {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFF;
}
